@model IEnumerable<InventoryAllocationEngine.Web.Models.Customer>
@{
    ViewBag.Title = "Customers";
}

<h2 class="page-header">Customers</h2>

<table class="table">
   <thead>
   <tr>
      <th>
         Name
      </th>
      <th>
         Avg. Annual Vol.
      </th>
   </tr>
   </thead>
   <tbody>

      @foreach (var customer in Model)
      {
         <tr>
            <td>
               @customer.Name
            </td>
            <td>
               @customer.AverageAnnualVolume.ToString("C0")
            </td>
         </tr>
      }

   </tbody>
</table>

