
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <title>Home</title>

   <script src="~/Scripts/jquery-1.9.1.min.js"></script>
   <script src="~/Scripts/bootstrap.min.js"></script>
   <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
   <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
   <div style="width: 1200px;margin: 20px">
      <h1 class="page-header">Inventory Allocation Engine Demo</h1>

      <h2>Orders</h2>
      <table class="table">
         <thead>
         <tr>
            <th>
               Customer
            </th>
         </tr>
         </thead>
         <tbody>
         <tr>
            <td>
               ##customer name##
            </td>
            
         </tr>
         </tbody>
      </table>

   </div>
</body>
</html>
