
@{
   ViewBag.Title = "Home";
}

      <h1 class="page-header">Inventory Allocation Engine Demo</h1>

      <h2>Orders</h2>
      <table class="table">
         <thead>
         <tr>
            <th>
               Customer
            </th>
         </tr>
         </thead>
         <tbody>
         <tr>
            <td>
               ##customer name##
            </td>
            
         </tr>
         </tbody>
      </table>

