@model IEnumerable<InventoryAllocationEngine.Web.Models.Order>

@{
   ViewBag.Title = "Home";
}

<h1 class="page-header">The Allocator</h1>

<img src="~/Content/Images/Gator.jpg" style="height: 500px;" />