@model IEnumerable<InventoryAllocationEngine.Web.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2 class="page-header">Products</h2>

<table class="table">
   <thead>
   <tr>
      <th>
         Description
      </th>

   </tr>
   </thead>
   <tbody>

      @foreach (var product in Model)
      {
         <tr>
            <td>
               <a href="@Url.Action("Details", new {id = product.Id})" >@product.Description</a>
            </td>
         </tr>
      }
   
   </tbody>
</table>

